* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  width: 100%;
  background-color: rgb(228, 179, 210);
  font-family: sans-serif;
  text-align: center;
}

header, #navbar{
  width:100%;
  height:60px;
  background-color: rgb(224, 224, 224);
  position:fixed;
  top:0;
  display:flex;
  align-items: center;
  border-bottom:2px solid black;
}

nav > ul {
  display:flex;
  margin:auto;
}

nav > ul > li {
  margin:0 50px;
  font-size:20px;
  font-weight: bold;
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
  background-color:rgb(224, 224, 224);
}

a:hover{
  background-color:rgb(228, 179, 210);
}

#main {
  margin-top:100px;
}

h1, p{
  margin:20px auto;
}

.image {
  max-width:500px;
  border-radius:5px;
  margin-bottom:4px;
  padding:5px;
}

.image:hover{
  transform: scale(1.2);
  transition:400ms;
}

#projects{
  margin:60px auto;
  width:100%;
}

.project-tile{
  font-family: monospace;
  margin:30px auto;
  max-width: 500px;
}

.block{
  max-width: 500px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:gray;
  border-radius:5px;
}

.title-project{
  width:180px;
  margin:auto;
  background-color:gray;
  padding:2px 0px;
  border-radius:5px 5px 0px 0px;
  color:black;
}

.text-project {
  font-size: 20px;
  width:400px;
  margin:20px;
  text-align: center;
}

#contact {
  border-top:1px solid black;
  margin:30px auto;
}

#finale {
  margin:10px;
}

input {
  width:200px;
  height:30px;
  border-radius:5px;
  background-color:rgb(224, 224, 224);
  font-weight: bold;
}

@media only screen and (max-width:600px){
  *{
    overflow-x:hidden;
  }

  nav > ul > li {
    margin:0px 15px;
    font-size:15px;
  }

  .block{
    width:80%;
    padding:0;
  }
  .text-project{
    width:80%;
}
